* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

header {
  background: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #ff4444;
  font-weight: 800;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 600;
  transition: 0.3s;
  font-family:'Anton', sans-serif ;
   letter-spacing: 1.5px;
}

nav a:hover {
  color: #ff4444;
}

.hero {
  height: 650px;
  max-height: 750px;
  background: url("../imagenes/banner/banner1.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 15px;
}
h2 {
  text-shadow:
    -3px -1px 0 #000,
    1px -1px 0 #000,
    -6px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Bangers", cursive;
}
.hero p {
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 25px;
  background: #ff4444;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #ff0000;
}

h4 {
  text-shadow:
    -3px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h1 {
  text-shadow:
    -1px -1px 0 #1ac51a,
    1px -1px 0 #000,
    -4px 1px 0 #460de6,
    1px 1px 0 #000;
  font-family: "Bangers", cursive;
}



.productos {
  padding: 80px 40px;
  text-align: center;
  position: relative;
  background: linear-gradient(135deg, #0f0f0f, #1a1a2e, #16213e);
}
.productos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ffffff11 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 12;
  pointer-events: none;
}

.productos h2 {
  font-size: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: url(../imagenes/heroes.webp);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.tarjeta {
  background: linear-gradient(145deg, #1a1a1a, #222);
  padding: 20px;
  border-radius: 18px;
  width: 250px;
  transition: 0.4s;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: url(../imagenes/tarjetas.jpg);
}

.tarjeta:hover {
  transform: translateY(-10px) scale(1.03);
  border: 2px solid #ff4444;
  box-shadow: 0 15px 35px rgba(255, 0, 0, 0.4);
}

.tarjeta img {
  width: 100%;
  height: 230px;
  object-fit: contain;
  background: #fff;
  border-radius: 12px;
}

.tarjeta h4 {
  margin: 15px 0 10px;
}

.precio {
  color: #ff4444;
  font-weight: bold;
  margin-bottom: 12px;
  background-color: white;
  border-radius: 30px;
  width: 80%;
  margin-left: 20px;
  text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -3px 1px 0 #000000,
    1px 1px 0 #000;
}

.tarjeta button {
  background: #ff4444;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.tarjeta:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(255, 0, 0, 0.3);
}

footer {
  position: relative;
  text-align: center;
  color: white;
  background: url(../imagenes/footer/imagen.jpeg) center;
  background-repeat: repeat-x;
  background-size: 43.33% auto;
  overflow: hidden;
}
footer h2 {
  font-family: "Bangers";
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 0 #000;
  margin-bottom: 30px;
  font-size: 4em;
  letter-spacing: 2px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

footer p {
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Bangers", cursive;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

footer * {
  position: relative;
  z-index: 2;
}

.villanos {
  background: linear-gradient(135deg, #1a0000, #330000, #4d0000);
}

.heroes {
  background: linear-gradient(135deg, #001f3f, #003366, #00509e);
}
